<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    
  </startup>
  <appSettings>
    <add key="url" value="https://api.coinbase.com/v2/prices/spot?currency="/>
    <add key="currency" value="EUR"/>
    <add key="refreshRateInSeconds" value="10"/>
  </appSettings>
</configuration>
